* {
  font-family: Ariel, Verdana, sans-serif;
  line-height: 1.5;
}
Body {
  background-color: #80061c;
  margin: 0px;
}
header {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  background: #000000;
  color: #ffffff;
}
#header-image {
  text-align: center;
}
footer {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  text-align: center;
  background-color: #000000;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 0px;
  padding-right: 0px;
  color: #ffffff;
}
h1 {
  font-family: Verdana, Ariel, sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin: 0px;
  padding-top: 50px;
  padding-left: 32px;
  line-height: 1.5;
}
#grid-container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 184px 1fr;
  gap: 0 16px;
}
nav {
  width: 150px;
  margin-top: 16px;
}
nav a {
  color: #fff;
  padding: 15px 25px;
  background-color: #80061c;
  background-image: radial-gradient(
      93% 87% at 87% 89%,
      rgba(0, 0, 0, 0.23) 0%,
      transparent 86.18%
    ),
    radial-gradient(
      66% 66% at 26% 20%,
      rgba(255, 255, 255, 0.55) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    );
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25),
    inset 0px 3px 9px rgba(255, 255, 255, 0.3),
    inset 0px 1px 1px rgba(255, 255, 255, 0.6),
    inset 0px -8px 36px rgba(0, 0, 0, 0.3),
    inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  border: 0;
}

nav li {
  list-style-type: none;
  text-align: center;
  display: inline-block;
  margin-left: 8px;
  padding: 20px;
}
nav a:hover {
  background-color: #5e5b5c;
}

img {
  align-items: center;
  width: 150px;
}
address {
  clear: both;
  font-style: italic;
}
main p {
  display: inline-block;
  width: 50%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  text-align: center;
}
main ul {
  display: inline-block;
  width: 50%;
  margin-left: 32px;
  list-style-type: disc;
  padding: 32px;
}
h2 {
  color: #000000;
  font-family: Verdana, Ariel, sans-serif;
  line-height: 1.5;
  font-size: 25px;
  font-weight: bold;
  padding: 16px;
  text-align: center;
}
form {
  width: 400px;
  margin: 20px auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #80061c;
  padding: 20px;
  color: white;
  border-radius: 10px;
  display: block;
  border-color: #000000;
  border-style: double;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
label {
  display: block;
  width: 100%;
  font-weight: bold;
  size: 16px;
  border-radius: 4px;
  border-color: #000000;
  padding: 5px;
}
input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
}
select {
  display: block;
  width: 100%;
  padding: 10px;
  size: 16px;
  margin-bottom: 24px;
  border-radius: 4px;
  border-style: 2 px inset;
  border-color: #000000;
}
.flex-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  text-align: center;
  padding: 30px;
}
img {
  display: block;
  margin: 0 auto;
  padding: 30px;
}

.delete-button {
  width: 30px !important;
  height: 30px !important;
  background: url('delete-icon.png') no-repeat center center;
  background-size: cover;
  border: none !important;
  cursor: pointer;
}

.delete-button img {
  width: 100%;
  height: 100%;
}

#ingredients-container div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

#ingredients-container div select {
  width: 160px;
  margin-right: 5px;
}

#ingredients-container div input[type="number"] {
  width: 60px;
  font-size: 16px;
  margin-right: 5px;
  margin-left: 5px;
}

#ingredients-container div span {
  width: 70px;
}

#ingredients-container div label {
  margin-right: 5px;
}

#order-form form {
  width: 400px;
}

#locations {
  width: 215px;
}

#inventory {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

#inventory form {
  width: 450px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#inventory form label,
#inventory form input[type="number"],
#inventory form span {
  margin-bottom: 20px;
  flex: 0 0 calc(33.33% - 20px);
}

#inventory form label {
  flex: 0 0 150px;
  margin-right: 10px;
}

#inventory form input[type="number"] {
  width: 70px;
  margin-left: 10px;
  margin-right: 10px;
}

table {
  margin-bottom: 10px;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

#locationTables {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Add some top margin for spacing */
}

#locationTables > div > span {
  font-weight: bold;
  margin-bottom: 10px;
}